<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    {% if title %}
        <title>Musicalos-{% block title %}{% endblock title %}</title>
    {% else %}
        <title>Musicalos</title>
    {% endif %}

</head>
<body>

    <div class="container">
        <h1>Musicalos</h1>
    </div>
    <div class="container">
        <nav class="navbar navbar-inverse" style="background-color:rebeccapurple">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/display_artists">Artists</a></li>
                    <li><a href="/display_venues">Venues</a></li>
                    <li><a href="/display_concerts">Concerts</a></li>
                    <li><a href="/display_customers">Customers</a></li>
                    <li><a href="/display_orders">Orders</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br />

    {% block content %}{% endblock %}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>