{% extends "layout.html" %}

{% block title %}Add Customer{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-sm-6">
                    <h3>Create Customer Account</h3>
                    <form id="add_customer" action="/add_customer" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="firstName" placeholder="Enter First Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Enter Email Address" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="paymentMethod">
                                <option value="" disabled selected hidden>Select Payment Type</option>
                                <option value="creditCard">Credit Card</option>
                                <option value="payAtDoor">Pay at the door</option>
                            </select>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-success" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}