{% extends "layout.html" %}

{% block title %}Add Tickets{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <h2>Select Tickets</h2>
            <p>(Maximum 5 per concert)</p>
        </div>
    </div>
    <div class="container">
        <form id="add_tickets" action="/add_tickets" style="max-width:40%">
            <div class="row">
                <div class="container">
                    <div class="col-sm-3">
                        <h4>Concert Name 1 - $25</h4>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" style="max-width:60px">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-sm-3">
                        <h4>Concert Name 2 - $25</h4>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" style="max-width:60px">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="container">
                <input type="submit" class="btn btn-success" value="Place Order" style="width:150px" />
            </div>
        </form>
    </div>
{% endblock %}