{% extends "layout.html" %}

{% block title %}Concert Orders{% endblock %}

{% block content %}
    <div class="container">
        <h3><u>Concert Orders</u></h3>
        <hr style="border-top:2px solid" />
        <div class="container">
            <h4>Concert ID: 3496</h4>
            <table class="table" style="width:10%">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="border-top:2px solid" />
        <div class="container">
            <h4>Concert ID: 3497</h4>
            <table class="table" style="width:10%">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}