<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Concerts</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
    </script>
</head>

<body>

    <div class="container">
        <h1>Musicalos</h1>
    </div>
    <div class="container">
        <nav class="navbar navbar-inverse" style="background-color:rebeccapurple">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Artists</a></li>
                    <li><a href="#">Venues</a></li>
                    <li><a href="#">Concerts</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Orders</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br />

    <div class="container">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <!-- Button trigger modal -->
                <input type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top:15px; margin-bottom:10px" value="Add new concert"/>
            </div>
        </div>
         <h2>Concerts</h2>
            <table class="table table-striped table-bordered" style="width:80%; margin-top:50px">
            <thead style="background-color:gold">
                <th>Concert ID</th>
                <th>Artist ID</th>
                <th>Venue ID</th>
                <th>Time</th>
                <th>Date</th>
                <th>Cost</th>
                <th>Manage Concert</th>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ r[0] }}</td>
                        <td>{{ r[1] }}</td>
                        <td>{{ r[2] }}</td>
                        <td>{{ r[3] }}</td>
                        <td>{{ r[4] }}</td>
                        <td>{{ r[5] }}</td>
                        <td><input type="button" class="btn btn-success" name="Update" value="Update" onclick="window.location = '/update_artist/{{r[0]}}'" /></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Add New Concert</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Artist</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Artist 1</option>
              <option>Artist 2</option>
              <option>Artist 3</option>
              <option>Artist 4</option>
              <option>Artist 5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Venue</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Venue 1</option>
              <option>Venue 2</option>
              <option>Venue 3</option>
              <option>Venue 4</option>
              <option>Venue 5</option>
            </select>
          </div>
          <form method="post">
                      <div class="form-group"> <!-- Date input -->
                        <label class="control-label" for="date">Date</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                      </div>      
        </form>
       <div class="form-group">
            <label for="exampleFormControlSelect1">Select Cost</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>$10.00</option>
              <option>$20.00</option>
              <option>$30.00</option>
              <option>$40.00</option>
              <option>$50.00</option>
            </select>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
</body>
</html>