{% extends "layout.html" %}

{% block title %}Concert Orders{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="container">
                <h3>Concert Orders</h3>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <table class="table table-striped table-bordered" style="width:80%">
            <thead style="background-color:gold">
                <tr>
                    <th scope="col">Concert ID</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}  
                <tr>
                    <td scope="row">{{ r[0] }}</td>
                    <td scope="row">{{ r[1] }}</td>
                    <td scope="row">{{ r[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}