{% extends "layout.html" %}

{% block title %}Customers{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-sm-6">
                    <h3>Customers</h3>
                </div>
                <div class="col-sm-6">
                    <input type="button" class="btn btn-success" style="margin-top:15px; margin-bottom:10px" value="Add new customer" onclick="window.location = '/add_customer'" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <table class="table table-striped table-bordered" style="width:75%">
            <thead style="background-color:gold">
                <tr>
                    <th class="col-md-1">Customer ID</th>
                    <th class="col-md-2">First Name</th>
                    <th class="col-md-2">Last Name</th>
                    <th class="col-md-2">Email</th>
                    <th class="col-md-2">Payment Method</th>
                    <th class="col-md-1"></th>
                </tr>            
            </thead>
            <tbody>
                <tr>
                    <td>5</td>
                    <td>Music</td>
                    <td>Lover</td>
                    <td>musiclover06@fakeemail.com</td>
                    <td>Credit Card</td>
                    <td><input type="button" name="Update" value="Update" /></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}