{% extends "layout.html" %}

{% block styles%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css" />
{% endblock %}

{% block title %}Concerts{% endblock %}

{% block content %}
    <div class="container">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <input type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top:15px; margin-bottom:10px" value="Add new concert" />
            </div>         
        </div>
    <h3>Concerts</h3>
        <table class="table table-striped table-bordered" style="width:100%">
            <thead style="background-color:gold">
                <tr>
                    <th class="col-md-1">Concert ID</th>
                    <th class="col-md-1">Artist ID</th>
                    <th class="col-md-1">Venue ID</th>
                    <th class="col-md-2">Time</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-1">Cost</th>
                    <th class="col-md-1">Manage Concert</th>
                </tr>
            </thead>
            <tbody>
                {% for concert in concerts %}
                <tr>
                    <td>{{concert[0]}}</td>
                    <td>{{concert[1]}}</td>
                    <td>{{concert[2]}}</td>
                    <td>{{concert[3]}}</td>
                    <td>{{concert[4]}}</td>
                    <td>{{concert[5]}}</td>
                    <!-- <td><a href="/update_concert/{{concert[0]}}">Update</td> -->
                    <td><input type="button" class="btn btn-success" name="Update" value="Remove Venue" onclick="window.location = '/update_concert/{{concert[0]}}'"/></td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Add New Concert</h3>
                </div>
                <div class="modal-body">
                    <form id="add_concert" action="/add_concert" method="post">
                        <div class="form-group">
                            <label for="artistID">Select Artist</label>
                            <select class="form-control" id="artistID" name="artistID" required>
                                {% for artist in artists %}
                                    <option value="{{artist[0]}}">{{artist[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="venueID">Select Venue</label>
                            <select class="form-control" id="venueID" name="venueID" required>
                                {% for venue in venues %}
                                    <option value="{{venue[0]}}">{{venue[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="startTime">Start Time</label>
                            <input class="form-control" id="startTime" name="startTime" placeholder="00:00" required />
                        </div>
                        <div class="form-group">
                            <!-- Date input -->
                            <label class="control-label" for="concertDate">Date</label>
                            <input class="form-control" id="concertDate" name="concertDate" placeholder="YYYY/MM/DD" type="text" required />
                        </div>
                        <div class="form-group">
                            <label for="cost">Select Cost</label>
                            <select class="form-control" id="cost" name="cost" required>
                                <option value="10.00">$10.00</option>
                                <option value="20.00">$20.00</option>
                                <option value="30.00">$30.00</option>
                                <option value="40.00">$40.00</option>
                                <option value="50.00">$50.00</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="concertDate"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: 'yyyy/mm/dd',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script> 

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
    <script>
        $(document).ready(function () {
            var time_input = $('input[name="startTime"]');
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                template: 'dropdown',
                container: container,
                autoclose: true,
            }
            time_input.timepicker(options);
        })
    </script>
{% endblock %}